.products-grid {
    min-height: 65vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 350px;
    row-gap: 32px;
    column-gap: 32px;

    padding-bottom: 10vh;

    .card {
        background-color: transparent;
        &:hover {
            a .card-content span {
                h5 {
                    color: #f7299a !important;
                }
            }
        }
    }
}

.product-name {
    font-weight: 650;
    color: black;
}

#add-cart-btn {
    width: 100%;
    background-color: #e33795;
    color: white;
    border: none;
    height: "45px";
    font-size: 19px;

    &:hover {
        background-color: #9549c1;
    }
}
.product-price {
    color: black;
    // color: #d0629f;
}

.select {
    border: 2px solid #111111;
    border-top-color: rgb(17, 17, 17);
    border-right-color: rgb(17, 17, 17);
    border-bottom-color: rgb(17, 17, 17);
    border-left-color: rgb(17, 17, 17);
    border-radius: 4px;
    background-color: transparent;
    color: black;
    height: 38px;
    margin: 0px 0 16px 0;
    max-width: 100%;
    padding: 0;
    position: relative;
    text-transform: uppercase;
    width: 100%;

    &:hover {
        background-color: transparent;
        border: 2px solid #111111;
    }
}

.sections-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px;
}

@media only screen and (max-width: 750px) {
    .products-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 450px;
    }
}

@media only screen and (max-width: 1180px) and (min-width: 751px) {
    .products-grid {
        grid-template-columns: 1fr 1fr;
    }
}
